@import url('https://fonts.googleapis.com/css?family=Bungee+Inline');

h1 {
    font-size: 2em;
    font-family: 'Bungee Inline', cursive;
    text-align: center;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

img {
    height: 150px;
}

section.container {
    max-width: 400px;
    width: 400px;
    padding: 2em;
    margin: 1em;
    border: 1px solid #3c3c3c;
    border-radius: 5px;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}